
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Hesabınız Başarıyla Oluşturuldu</h2>
        <p>Bilgilerinizle Giriş Yapabilirsiniz</p>
        <hr />
        <p>Teşekkürler!</p>
    </div>
</div>