@model TheaterVM
@using mvc_ticket_theater.Data.Enums;

@{
    ViewData["Title"] = "Yeni Tiyatro Oyunu Ekle";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Yeni Tiyatro Ekle </h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>


                            </div>
                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label"></label>
                                <input asp-for="StartDate" type="date" class="form-control" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>


                            </div>
                            <div class="form-group">
                                <label asp-for="EndDate" class="control-label"></label>
                                <input asp-for="EndDate" type="date" class="form-control" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>


                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>


                            </div>
                            <div class="form-group">
                                <label asp-for="TheaterImg" class="control-label"></label>
                                <input asp-for="TheaterImg" class="form-control" />
                                <span asp-validation-for="TheaterImg" class="text-danger"></span>


                            </div>


                        </div>


                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="SaloonId" class="control-label"></label>
                                <select asp-for="SaloonId" class="form-control" asp-items="ViewBag.Saloons"></select>
                                <span asp-validation-for="SaloonId" class="text-danger"></span>


                            </div>
                            <div class="form-group">
                                <label asp-for="Category" class="control-label"></label>
                                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<Category>()"></select>
                                <span asp-validation-for="Category" class="text-danger"></span>


                            </div>
                            <div class="form-group">
                                <label asp-for="ActorIds" class="control-label"></label>
                                <select asp-for="ActorIds" class="form-control" asp-items="ViewBag.Actors" multiple></select>
                                <span asp-validation-for="ActorIds" class="text-danger"></span>


                            </div>
                            <div class="form-group">
                                <label asp-for="ProducerId" class="control-label"></label>
                                <select asp-for="ProducerId" class="form-control" asp-items="ViewBag.Producers"></select>
                                <span asp-validation-for="ProducerId" class="text-danger"></span>


                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" multiple></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>


                            </div>






                        </div>






                    </div>
                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="TheaterImgPreview" />
                    </div>
                    <div>
                        <input type="submit" value="Ekle" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Tümünü Göster</a>


                    </div>




                </form>
            </div>

        </div>


    </div>
</div>

@section Scripts{
    <script>
        $("#TheaterImg").on("change", function () {


            var output = document.getElementById("TheaterImgPreview");
            output.src = $(this).val();



        })


    </script>


}